.app-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: minmax(60px, min-content) auto minmax(60px, min-content);
}

.app-header {
  grid-column: 1/-1;
}

.app-navigation {
  grid-column: 1/1;
}

.app-content {
  grid-column: 2/-1;
}

.app-footer {
  grid-column: 1/-1;
}
